services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: emoji_battle
    ports:
      - "5432:5432"
    volumes:
      - emoji_battle_pg:/var/lib/postgresql/data

volumes:
  emoji_battle_pg:
